{% extends 'pages/base.html' %}
{% load static %}


{% block content%}
{% include 'pages/navbar.html' %}
<div class="container">
    <div>
        <h1> Course Details </h1>
    </div>
    <div class="row">

        <div class="col-md-6">
            <img src="{% static 'img/course-1.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-md-5">
            <h3>Course Title: Web Design</h3>
            <p>This course provides a comprehensive introduction to the principles and 
              techniques of modern web design. Students will learn how to create visually appealing, 
              user-friendly websites using industry-standard tools and technologies. Through a combination 
              of lectures, hands-on exercises, and projects, participants will gain practical experience in HTML, CSS, 
              and other essential web design skills.</p>
        </div>
    </div>
    <div style="padding-top: 20px;">
      <h3>Course Objectives.</h3>
      <ul>
        <li>Understand the fundamental concepts of web design</li>
        <li>Learn HTML and CSS for creating structured and styled web pages</li>
        <li>Explore typography, color theory, and layout principles for effective design</li>
        <li>Develop skills in responsive design for mobile and multi-device compatibility</li>
        <li>Gain proficiency in using design software and web development tools</li>
        <li>Learn best practices for usability and accessibility in web design</li>
        <li>Build a portfolio of web design projects to showcase skills and creativity</li>
      </ul>
  </div>
    <div class="container mt-4">
        <ul class="nav justify-content-center border-5 border-bottom">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Takeaways</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Schedule</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Faculty</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link">Participants</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link">Reviews</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link">GetSmarter</a>
              </li>
        </ul>


    </div>

</div>
{% include 'pages/footer.html' %}
{% endblock content%}