{% extends 'pages/base.html' %}
{% load static %}


{% block content%}
{% include 'pages/navbar.html' %}
<style>
  .header-image{
  width: 80vw;
  height: 60vh;
  }
</style>
<div>
  <div class="text-center image">
    <img src="{% static 'img/cert.jpg' %}" class="rounded header-image">
  </div>
  <div class="container">
    <h3 class="text-center mt-3"> Get yourself a Certificate </h3>
    <p>
      Kusimba is great for Offering best self-paced online courses. There are about 100 available courses at Kusimba with certificates for all the courses. 
      We do not just provide courses, there are free videos available for individual courses. The certificates are also downloadable and printable and are offered 
      upon the completion of your course.
    </p> <br>
    <p>The tutors of Kusimba are also vetted to ensure the learning materials are accurate and reliable.
      </p>
    <!-- <h2 class="text-center">more content</h2> -->
    </p>
  </div>
</div>
{% include 'pages/footer.html' %}
{% endblock content%}